.header {
  width: 95%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 12px;
  height: 6em;
  z-index: 5;

  background: var(--clr-header);
  border-bottom: var(--clr-header-border);
  box-shadow: var(--clr-header-shadow);
  
  display: flex;
  justify-content: center;
}

.light {
  --clr-header: linear-gradient(90deg, #e3e6ea 0%, #cfd3d6 100%);
  --clr-header-border: 1px solid #bbb;
  --clr-header-shadow: 0 4px 16px rgba(60, 60, 60, 0.2);
}

.dark {
  --clr-header: linear-gradient(90deg, #3a3d40 0%, #232526 100%);
  --clr-header-border: 1px solid #444;
  --clr-header-shadow: 0 2px 16px rgba(0,0,0,0.5);
}

@media (max-width: 600px) {
  .header {
    height: 5em;
  }
  .header-container {
    height: 5em;
  }
}
