.funproject {
  width: 800px;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.funproject:hover {
  transform: translateY(-7px);
}

.funproject__description {
  width: 100%;
  margin-top: 2.5em;
  text-align: left;
}

.funproject__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.funproject__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.funproject .link--icon {
  margin-left: 0.5em;
}
